.ContenedorTargeta {
  width: 100%;
  display: flex;
  flex-direction: row;     
  align-items: flex-start;
  gap: 30px;
  justify-content: center;
    margin-top: 60px;
}

/* TARJETA */
.Tarjeta {
  background: rgb(255, 96, 162);
  border-radius: 16px;
  width: 260px;
  overflow: hidden;
  box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

/* IMAGEN ARRIBA */
.Tarjeta img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  display: block;
}

/* TEXTO ABAJO */
.Tarjeta-contenido {
  padding: 16px;
  text-align: center;
}

.Tarjeta-contenido h3 {
  margin: 0 0 8px;
}

.Tarjeta-contenido p {
  margin: 0;
  font-size: 14px;
}
